* {
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
  }
  
  .nav-bar {
    background-color: #be3144;
    width: 100%;
    max-width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: end;
    padding: 1.5rem;
  }
  
  .nav-bar > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    font-size: 1.4rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin: 1rem;
  }
  
  main {
    margin-top: 4.6rem;
    color: white;
  }
  
  #welcome-section {
    height: 100vh;
    width: 100vw;
    background-color: #181719;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #self-intro {
      font-size: min(6vw, 2.5rem);
  }
  
  #self-intro-desc {
    padding: 1rem;
    font-size: 1.5rem;
  }
  
  #projects {
    height: auto;
    width: 100vw;
    background-color: #45567d;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  }
  
  #projects-intro {
    padding: 5rem;
    font-size: 1.5rem;
  }
  
  hr {
    width:100%;
    text-align:left;
    margin-left:0;
    color: white;
    background-color: white;
  }
  
  .grid-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    max-width: 75em;
  }
  
  img {
    width: 100%;
    height: 85%;
    object-fit: cover;
  }
  
  .project-tile {
    background-color: #303841;
    display: block;
    width: 100%;
    height: auto;
  }
  
  .project-tile > a > p {
    text-align: center;
    padding: 1rem;
    font-size: 1.15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15%;
  }
  
  #profile-link {
    text-decoration: none;
    color: white;
  }
  
  .show-all-btn {
    margin: 2rem;
    padding: 0.75em 1.25em;
    font-weight: 500;
    background-color: #303841;
    border: 0px solid black;
    border-radius: 10px;
  }
  
  .show-all-btn:hover {
    cursor: pointer;
  }
  
  .project-tile > a {
    text-decoration: none;
    color: white;
  }
  
  #contact {
    background-color: #303841;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact-intro {
    margin-top: 7.5%;
    padding: 5rem;
  }
  
  #contact-intro > p{
    font-size: min(6vw, 2.5rem);;
}
  
  .contact-links {
    display: flex;
  }
  
  .contact-tile{
    margin: auto 1rem;
  }
  
  .contact-tile > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  
  .contact-tile > a >img{
    width: 3em;
  }
  
  .contact-tile > a > p{
    font-size: 1.5rem;
    margin-left: 1rem;
    width: 60%;
  }
  
  @media (max-width: 750px){
    #contact-intro {
      margin-top: 7.5%;
      padding: 4rem;
      font-size: 2rem;
    }
    
    .grid-container {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      max-width: 90%;
    }
   
    .contact-links {
      display: flex;
      flex-direction: column;
    }
    
    .contact-tile{
      margin: 0.5rem 1rem;
    }
    
    .project-tile > a > p {
      text-align: center;
      padding: 1rem;
      font-size: 1.15rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 15%;
    }
  }
  
  @media (max-width: 1010px) and (min-width: 751px){
    .grid-container {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      max-width: 90%;
    }
    .project-tile > a > p {
      text-align: center;
      padding: 1rem;
      font-size: 1.15rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 15%;
    }
  }